@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PuradakGentleGothicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@keyframes bounceArrow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

*,
html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    font-family: 'PuradakGentleGothicR', sans-serif;
    font-size: 13px;
    @apply bg-[#ffffff] text-[#1f2937] tracking-wide;
  }

  ::-webkit-scrollbar {
    width: 9px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .arrow-icon {
    animation: bounceArrow 1.3s ease-in-out infinite;
  }
}

@layer components {
  .theMoreButton {
    @apply px-6 py-2 border border-[#ffffff] rounded-full uppercase tracking-widest text-white transition-all hover:border-[#F7AB0A]/80 hover:text-[#F7AB0A]/80;
  }
}
