@font-face {
  font-family: 'PuradakGentleGothicR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    font-family: 'PuradakGentleGothicR', sans-serif;
    font-size: 13px;
    @apply bg-[#ecf0f1] text-[#1f2937] tracking-wide;
  }

  .table-container {
    @apply md:grid h-full;
  }

  .table-wrap-cols-1 {
    @apply md:grid grid-cols-1 h-full;
  }

  .table-wrap-cols-2 {
    @apply md:grid grid-cols-2 h-full;
  }

  .dark .card-shadow,
  .table-default.borderless-row tbody > :not([hidden]) ~ :not([hidden]) {
    border-style: none;
  }

  .table-default thead > tr > th,
  .table-flex .thead .tr .th {
    letter-spacing: 0.05em;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
  }
}
